.Board {
    background: #f30067;
    height: 90%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
    padding: 5%;
    justify-content: space-around;
    border-radius: 2%;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2), inset 2px 2px 5px 0 rgba(0, 0, 0, 0.19);
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.tile {
    background:#444444;
    height: 100%;
    width: 100%;
    border-radius: 2%;
    box-shadow: inset 2px 2px 5px 3px rgba(5, 0, 0, 0.219), inset 2px 2px 5px 3px rgba(5, 0, 0, 0.219);
}    
